.h3-contents {
    color: white;
}

.mdl-button__ripple-container {
    animation: nicer 5s infinite;
    background-color: black;
}
.mdl-button__ripple-container::after {
    content: "nice";
    font-size: 13px;
    color: black;
}

#ts-project-tab-bar, #ts-code-assist-tab-bar {
    animation: nice 5s infinite;
    background-color: black;
}

.ts-tab-header-container {
    background-color: black;
}



@keyframes nice {
    0% {color:red}
    10%{color:orange}
    20%{color:gold}
    30%{color:yellow}
    40%{color:#61D535}
    50%{color:#35C0D5}
    70%{color:#205FE0}
    80%{color:blue}
    90%{color:#C320E0}
    100%{color:purple}
}

@keyframes nicer {
    0% {background-color:red}
    10%{background-color:orange}
    20%{background-color:gold}
    30%{background-color:yellow}
    40%{background-color:#61D535}
    50%{background-color:#35C0D5}
    70%{background-color:#205FE0}
    80%{background-color:blue}
    90%{background-color:#C320E0}
    100%{background-color:purple}
}

