yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string::after {
    content:" is cool!";
    
}

ytd-button-renderer.force-icon-button a.ytd-button-renderer {
    display:none;
}

button.yt-icon-button > yt-icon {
    animation: nice 5s infinite; 
}

button.ytd-topbar-menu-button-renderer {
    display:none;
}

ytp-next-button ytp-button {
    display:none;
}

ytd-action-companion-ad-renderer {
    display:none;
}

#container.ytd-searchbox input.ytd-searchbox {
    animation: nice 5s infinite; 
}
style-scope ytd-toggle-button-renderer style-text {
    color: red;
}

#search-button.ytd-masthead, #search-button-narrow.ytd-masthead {
    display: none;
}

#container.ytd-masthead {
    background-color: black;
}

#search-icon-legacy.ytd-searchbox {
    display: none;
}


@keyframes nice {
    0% {color:red}
    10%{color:orange}
    20%{color:gold}
    30%{color:yellow}
    40%{color:#61D535}
    50%{color:#35C0D5}
    70%{color:#205FE0}
    80%{color:blue}
    90%{color:#C320E0}
    100%{color:purple}
}


