body{
    background-color: black;
}
.Select{
    font-size: 140px;
    line-height: 10px;
    font-weight: 700;
} 
.buttons{
    padding: 25px;
    word-spacing: 10px;
}  
.easy{
    background-color: green;
} 
.medium{
    background-color: goldenrod;
}
.hard{
    background-color: red;
}
.insane{
    background-color: purple;
}

.difficulty{
    background-color: #b3531a;
    color: #a52424;
    position: relative;
    bottom: 170px;
    visibility: hidden;
}

.prsTstrt{
    position: relative;
    top: 75px;
    height: 35px;
    width: 100px;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    font-style: normal;
    text-align: justify;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    border: white;
}
.upgradeButton{
    border-width: 1px;
    position: center;
}
.prsTstrt:hover {
    background-color: gray;
    transition: .2s;
}

.start{
    
    position: relative;
    top: 100px;
    
}

.container{
    text-align: center;                
}

.game{
    visibility: hidden;
}
.text-block-2{
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: 700;
}

.upgrades {
    position:absolute;
    top: 85px;
    display: none;
    text-align: left;
    background-color: #c7c7c7;
    width: 100%;
    left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    
}

.upgrade:hover .upgrades{
    display: block;  
}
.text-block{
    color: white;
    opacity: 1;
    font-size: 175px;
    line-height: 100px;
    cursor: auto;
}
@keyframes e {
    0% { color: red; }
    25% {color: orange;};
    50% { color: yellow; }
    75% {color: green;}
    100% { color: blue; }
}  
@keyframes a {
    0% { background-color: red; }
    25% {background-color: orange;};
    50% { background-color: yellow; }
    75% {background-color: green;}
    100% { background-color: blue; }
} 
@keyframes sports {
    0% { color: red; }
    25% {color: orange;};
    50% { color: yellow; }
    75% {color: green;}
    100% { color: blue; }
}  

.text-block{
    color: red;
    animation: sports 5s 0s infinite alternate none;
}
.text-block-2{
    color: red;
    animation: e 5s 0s infinite alternate none;
}

.prsTstrt{
    color: black;
    animation: a 5s 0s infinite alternate none;
}